@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --font-primary: 'Poppins', sans-serif; /*weights used: 200,400,600*/
}

/* Reset any default margin and paddings. */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  /* background-color: #dadae5; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrapper {
  padding: 5rem 2rem; /* 80px top/bottom and 32px left/right */
  border: 1px solid red;
}

.header-box {
  text-align: center;
  margin-bottom: 5rem;
}

.header-heading {
  color: hsl(234, 12%, 34%);
  font-family: var(--font-primary);
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.17px;
  margin-bottom: 1rem;
}
